.Home{
    max-width: 100vw;
    height: 100vh;
    position: relative;
}
.Home__nav{
    background-color: var(--color_primary);
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    padding-top: 4%;
    padding-bottom: 4%;
    position: fixed;
    z-index: 200
}

.Home__navShare{
    max-width: 14%;
    cursor:pointer

}
.Home__navButton{
    background-color: var(--color_secondary);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;

}

.Home__CreateButton{
    position: fixed;
    bottom: 4%;
    right: 5%;
    z-index: 100;
    font-size: 3.2rem;
    border-radius: 100%;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    background-color: var(--color_primary);
    color:var(--color_secondary);
    border:none

}