<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://tinder.com/favicon.ico">
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="logo-container">
                <a href="#">
                    <img class="logo" src="img/tinder-white.png" alt="Logo Tinder">
            
                </a>
            </div>
            <p class=>tinder</p>
            <div class="menu">

                <button class="menu__button">☰</button>
                        
                <nav class="nav-bar menu__list">
                    <div class="logo-container">
                        <a href="#">
                            <img class="logo" src="img/tinder-white.png" alt="Logo Tinder">
                    
                        </a>
                    </div>
                    <p class=>tinder</p>
                    <a href="#" class="nav-bar__item">Productos</a>
                    <a href="#" class="nav-bar__item">Información</a>
                    <a href="#" class="nav-bar__item">Seguridad</a>
                    <a href="#" class="nav-bar__item">Ayuda</a>
                    <a href="sign-in-html" class="nav-bar__button-gradient">Inicia sesión</a>
                </nav>
            </div>

        </header>
        <section class="main__title">
            <h1>Swipea a la derecha</h1>
        </section>
        <section class="main__options">
            <a href="sign-up.html" class="button">Crear una cuenta</a>
            <a href="sign-in.html" class="button--transparent">Inicia Sesión</a>
            <a href="#" class="button-appstore"><img src="img/appstore.svg" alt="Descarga en el Appstore"></a>
        </section>
        <section>
            <p class="main__warning">Todas las fotos son de modelos y se utilizan solo para fines ilustrativos</p>
        </section>
    </div>
    <footer class="footer">
        <div>
            <h3 class="footer__content-title">Legal</h3>
            <ul>
                <li class="footer__content-list-item">Privacidad</li>
                <li class="footer__content-list-item">Condiciones</li>
                <li class="footer__content-list-item">Política de Cookies</li>
                <li class="footer__content-list-item">Propiedad Intelectual</li>
                <li class="footer__content-list-item">Preguntas Frecuentes</li>
                <li class="footer__content-list-item">Destinos</li>
                <li class="footer__content-list-item">Prensa</li>
                <li class="footer__content-list-item">Contacto</li>
                <li class="footer__content-list-item">Código promocional</li>
            </ul>
        </div>
        <div>
            <h3 class="footer__content-title">Trabajo</h3>
            <ul>
                <li class="footer__content-list-item">Portal de empleo</li>
                <li class="footer__content-list-item">Blog</li>
            </ul>
        </div>
        <div>
            <h3 class="footer__content-title">Redes Sociales</h3>
            <a href="#"><img src="#" alt="Instagram"></a>
            <a href="#"><img src="#" alt="Tiktok"></a>
            <a href="#"><img src="#" alt="Youtube"></a>
            <a href="#"><img src="#" alt="Twitter"></a>
            <a href="#"><img src="#" alt="Facebook"></a>
        </div>
    </footer>

    <script src="main.js"></script>
</body>

</html>
