<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="background">

        <div class="content">
            <header class="header">
                <img src="logo-cine_23-2147503279_preview_rev_1.png" alt="logo" class="logo">
                <button class="button" type="submit" >Iniciar sesión</button>
            </header>

            <main class="main">
                <div class="main__sign-up">
                    <h1 class="main__introd1"> "Somos la comunidad más activa del cine"</h1>

                    <h2 class="main__introd2">Puedes consultarnos todo lo que quieras.</h2>

                    <h3 class="main__introd3">Tenemos hueco para ti, registrate.</h3>

                    <input class="input" type="text" name="query" placeholder="Correo electronico">

                    <button class="button" type="submit" >Registrarse</button>
                </div>

                <div class="main__separator"></div>

                <section class="main__section1">
                    <p class="main__section1-text">Mira este video y conoce nuestras bases y todo los que hacemos.
                        Todo contado, por nuestra comunidad cinéfila a la que tú también podrás aportar.</p>
                    <iframe class="main__section1-video" src="https://www.youtube.com/embed/axKuQMRonYI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </section>

                <div class="main__separator"></div>
            </main>

            <footer class="footer">
                <h3>Llamanos al <a href="tel:973-301-6177" class="footer__phone-link">973-301-6177</a></h3>


                <ul class="footer__list">
                    <li>Preguntas frecuentas</li>
                    <li>Cuenta</li>
                    <li>Inversores</li>
                    <li>Canjear tarjeta regalo</li>
                    <li>Formas de ver</li>
                    <li>Privacidad</li>
                    <li>Información corporativa</li>
                    <li>Contáctanos</li>
                    <li>Prueba de velocidad</li>
                    <li>Centro de ayuda</li>
                </ul>
            </footer>

        </div>

    </div>

</body>

</html>