<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="background background__dark">

        <div class="content">

            <header class=" header header--just-logo">
                <img class="logo" src="logo-cine_23-2147503279_preview_rev_1.png" alt="logo">
            </header>

            <main class="main main-signin">
                <div class="signin-box">
                    <h1 class="signin-box__title">Inicia Sesión</h1>

                    <input class="input input--big" type="text" name="query" placeholder="Correo o movil">

                    <input class="input input--big" type="text" name="query" placeholder="Contraseña">

                    <button class="button button--big" id="signin-bottom" type="submit">Registrarse</button>

                    <div class="signin-box__footer">
                        <label class="check-container"> Recuerdame
                            <input class="input-check" type="checkbox" checked="checked">
                        </label>

                        <p>Ayuda</p>
                    </div>

                    <a href="https://es-es.facebook.com/" class="signin-faceb">
                        <img src="https://www.freeiconspng.com/thumbs/logo-facebook-png/logo-facebook-png-transparent-image-28.png"
                            alt="facebook-logo" class="logofaceb">
                        <p> Inicia sesión con facebook</p>
                    </a>

                    Eres nuevo en Netflix? <a href="sign-up.html">Registrate ahora</a>
                </div>
            </main>

        </div>

    </div>

</body>

</html>