<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="background background__dark">

        <div class="content">

            <header class=" header header--just-logo">
                <img class="logo logo--big" src="logo-cine_23-2147503279_preview_rev_1.png" alt="logo">
            </header>

            <main class="main-signup">
                <h1>Registrate </h1>

                <input class="input" type="text" name="query" placeholder="Correo o movil">
                <input class="input" type="text" name="query" placeholder="Contraseña">

                <button class="main__button-signup" type="submit">Registrarse</button>

            </main>

        </div>

    </div>

</body>

</html>