@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --backColor:rgb(193, 18, 31);
    --black:black;
    --white: rgb(253, 240, 213);
    --board:seagreen;
    --dark: rgb(0, 48, 73);
    --blue: rgb(102, 155, 188);

}
*{
    font-family: 'Share Tech Mono', monospace;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color:var(--backColor);
}
.field{
    border: 1px solid var(--white);
    border-radius: .3rem;
    margin: .25rem;
    padding: .4rem;
}
.button{
    border: 1px solid var(--white);
    border-radius: .3rem;
    margin: .25rem;
    padding: .4rem; 
    cursor: pointer; 
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container--spacing{
    margin:.25rem;
}
.container--vertical{
    display:flex;
    flex-direction: column;
}
.panel{
    border:1px solid var(--white);
    border-radius: 1rem;
    padding: 1rem;  
}

/* Nos permite apagar */
.off{
    display:none;
}

/* custom */
.title{
    font-size: 60px;
    text-align: center;
}
.signin__feedback{
   color: var(--white);
   background-color: var(--black);
   font-size: 30px; 
   font-weight: bold;
   padding: 0 10px;
   border:none;
   margin:20px;
}
.level{
    background-color: var(--board);
    padding: 20px;
    width:600px;
    height: 350px;
}
.level__user{
    color: var(--white);
    font-size: 20px;
}
.level__button{
    font-weight: 100px;
}
.board{
    background-color: var(--board);
    width:700px;
    height: 350px;
}

.four, .queen, .king, .jack{
    position:absolute;
    width:50px;
    height: 80px;
}
.chips{
    position: absolute;
    width:40px;
    height: 60px;
}
.button--auxiliar{
    padding:15px 20px;
    background-color: var(--black);
    color:var(--white);
    font-size: 18px;
    margin-top:16px;
}
.exit{
    background-color: var(--black);
    padding: 28px;
}
.exit__info{
    color:var(--white);
    font-size: 22px;
}
.button--back{
    background-color: var(--white);
    color: var(--backColor);
    font-size: 18px;
    padding: 12px 18px;
}
.button--exit{
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
    padding: 12px 18px;
}