.post {
    display:flex;
    flex-direction: column;
    border: 2px solid rgba(229, 229, 229);
    margin-top: 15px;
    border-radius: 20px;
    width: 90%;
}
.post__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(229, 229, 229);
    margin-left: 10px;
    margin-right: 10px;
}

.post__body{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(229, 229, 229);
    margin-left: 5px;
    margin-right: 5px;
}

.post__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post__footer-feedback{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.post__footer--save{
    margin-right: 5px;
}