.UpdateEmail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    align-items: center;
    width: 90%;
    max-width: 400px;
    height: 450px;
}

.UpdateEmail__title{
    font-family: 'Supermercado One', cursive;
    font-size: 25px; 
    color: var(--green);
    text-align: center;
    padding: 5px;
}

.UpdateEmail__input{
    height: 35px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: solid 1px;
    border-color: var(--gray);
    font-family: 'Inconsolata', monospace;
    padding-left: 10px;
    box-shadow: 0 0 0 30px white inset !important
}

.UpdateEmail__input-email{
    width: 180px;
}


.UpdateEmail__input--noPadding {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.UpdateEmail__input__password {
    border-style: none;
    border-radius: 8px;
    height: 33px;
}

.UpdateEmail__image-hide-show-password {
    height: 20px;
    padding: 8px;
}

.UpdateEmail__button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 200px;
}

.UpdateEmail__button{
    background-color: var(--green);
    border-style: none;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    font-family: 'Inconsolata', monospace;
    padding: 0;
}

.UpdateEmail__button--small{
    width: 95px;
}
