<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="nav__bar">
            <a href="#">Productos</a>
            <a href="#">Información</a>
            <a href="#">Seguridad</a>
            <a href="#">Ayuda</a>
            <a href="sign-in-html">Inicia sesión</a>
        </nav>
    </header>
    <main>
        <section class="main__principal--title">
            <h1>Swipea a la derecha</h1>
        </section>
        <section class="main__btn">
            <a href="sign-up-html" class="main__btn--bg">Crear una cuenta</a>
            <a href="sign-in.html" class="main__btn--snbg">Inicia Seseión</a>
            <a href="#">AppStore</a>
            <p>Todas las fotos son de modelos y se utilizan solo para fines ilustrativos</p>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <h3>Legal</h3>
                <ul>
                    <li>Privacidad</li>
                    <li>Condiciones</li>
                    <li>Política de Cookies</li>
                    <li>Propiedad Intelectual</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Destinos</li>
                    <li>Prensa</li>
                    <li>Contacto</li>
                    <li>Código promocional</li>
                </ul>
            </div>
            <div>
                <h3>Trabajo</h3>
                <ul>
                    <li>Portal de empleo</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div>
                <h3>RRSS</h3>
                <a href="#"><img src="#" alt="Instagram"></a>
                <a href="#"><img src="#" alt="Tiktok"></a>
                <a href="#"><img src="#" alt="Youtube"></a>
                <a href="#"><img src="#" alt="Twitter"></a>
                <a href="#"><img src="#" alt="Facebook"></a>
            </div>
        </section>
    </footer>
</body>

</html>