<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img src="img/tinder-color.png" alt="Logo" class="logo logo--centered">
    </header>
    <section>
        <div class="sign-in">
            <img src="img/iniciar-sesion.png" alt="Inicio de sesión" class="logo--centered logo--width">
            <h3 class="sign-in__title">Inicia sesión</h3>
        </div>
    </section>
    <section>
        <div>
            <form action="" class="form">
                <input type="text" name="Usuario" id="usuario" placeholder="Usuario" required class="form__input">
                <input type="password" name="Password" id="password" placeholder="Password" required class="form__input">
                
                <button type="submit" class="button form__button">Submit</button>
            </form>
            <div class="forgot-password">
                <a href="#" class="forgot-password__content">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="register">
                <p class="register__text">Si no tienes cuenta, <a href="#" class="register__link">regístrate</a></p>
        </div>
            
        </div>
    </section>
    <footer>
        
        <p>He leído y acepto los <a href="#">términos del servicio</a> y la <a href="#">política de privacidad.</a></p>
    </footer>
</body>

</html>