<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img src="img/tinder-color.png" alt="Logo" class="logo logo--centered">
    </header>
    <section>
        <div class="main-sign-in">
            <img src="img/iniciar-sesion.png" alt="Inicio de sesión" class="logo--centered logo--width">
            <h3>Inicia sesión</h3>
        </div>
    </section>
    <section>
        <div class="form">
            <form action="">
                <input type="text" name="Usuario" id="usuario" placeholder="Usuario" required>
                <input type="password" name="Password" id="password" placeholder="Password" required>
                <div>
                    <input type="checkbox" name="Remember" id="remember">
                    <p>Recuérdame</p>
                </div>
                <button type="submit">Submit</button>
            </form>
            <a href="#">¿Has olvidado tu contraseña?</a>
            <p>Si no tienes cuenta, <a href="#">regístrate</a></p>
        </div>
    </section>
    <footer>
        
        <p>He leído y acepto los <a href="#">términos del servicio</a> y la <a href="#">política de privacidad.</a></p>
    </footer>
</body>

</html>