<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class=sing>
        <h1 class="sing__title">Mix Sound</h1>
        <p  class="sing__description">Toda la música que necesitas</p>
        <a class=sing__botom href="sign-in.html">Sign-in</a> or
        <a class="sing__botom" href="sign-up.html">Sign-up</a>
    </div>
    <div class="card">
        <h1>+ de 600000 canciones</h1>
        <p>somos la plataforma de musica del milenio</p>

    </div>
</body>

</html>