.Feed__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    
    gap: .5rem
}

.Feed{
    background-color: rgb(22, 43, 83);
    display: flex;
    justify-content:center;
    
    
}