.container{
   
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 400px;
    margin: auto;
    border-radius: 1rem;
    padding:  25px 30px;
   
    
}

.Landing {
    
    display: block;
    text-align: center;

}