@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.Note {
    box-sizing: border-box;
    width: 30vw;
    height: 30vw;
    background-color: lightgray;
    padding: 1rem;
    position: relative;
    background-color: rgb(109, 178, 247);
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    
}


.Note__footer {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: .8rem;
    font-family: poppins;
}
.Note__text{
    border-radius: 10px;
    width: 80%;
    height: 250px;
    border: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
}


.Note--red {
    background-color: rgb(219, 107, 103);
    
    
}

.Note--blue {
    background-color: rgb(109, 178, 247);
    
}


.Note--yellow {
    background-color: rgb(226, 208, 107);
    
}

.Note--green {
    background-color: rgb(133, 184, 92);
   
}

select{
    border-radius: 5px;
    border: none;
}