@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, #root {
    height: 100%;
    width: 100%;
    font-family: Poppins;
}

body {
    margin: 0;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__btn{
    border-radius: 1rem;
    border: none;
    margin: .2rem;
    padding: .7rem;
    background-color: rgb(200, 219, 224);
}

.container__btn--search{
    border-radius: 1rem;
    border: none;
    margin: .2rem;
    padding: .5rem;
    background-color: rgb(122, 159, 173);
}