html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
}

.title {
    color: lightgray;
}

.spaceship {
    position: absolute;
    width: 100px;
    /* background-color: red; */
}

.asteroid {
    position: absolute;
    width: 100px;
    /* background-color: yellow; */
}