:root {
    --color: rgb(28, 126, 218);
    --back-color: rgb(65, 212, 20);
  }

html, body{
    height: 100%;
    margin:0;
}
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
body{
    background-image: url(background.png);
 }

 .field{
    border: 2px solid var(--color);
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;

 }
 .button{

    border: 2px solid var(--color);
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
 }

 .container{

    display: flex;
    justify-content: center;
    align-items: center;
 }
.container--vertical{

    flex-direction: column;
}
 .panel{

    border: 2px solid var(--color);
    border-radius: 2rem;
    padding: 2rem;
 }

 .off{
     display: none;
 }
 .bird{
     height: 80px;
     position: absolute;
 }
.pipe{
    height: 100px;
    
}