<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">Name</h1>
        <nav class="header__nav">
            <button class="header__nav-profile"><img src=https://svgsilh.com/svg_v2/2098873.svg alt=""></button>
            <button class="header__nav-cart"><img src="https://image.flaticon.com/icons/png/512/18/18399.png" alt=""></button>
            <button class="header__menu-button pointer">☰</button>
        </nav>
    </header>
    <main class="main">
        <a href="index.html">🡐</a>
        <h2>Sing-up</h2>
        <form class="form" action="">
            <input class="form__input" type="text" placeholder="Name" required>
            <input class="form__input" type="email" placeholder="E-mail" required>
            <input class="form__input" type="password" placeholder="Password" required>
            <input class="form__button-primary" type="submit">
            <button class="form__button-google">
                <img src="https://www.eafit.edu.co/cec/congresos/SiteAssets/Paginas/coin2019/google_PNG19635.png" alt="">
                <span>Continue with Google</span>
            </button>
        </form>
    </main>
    <footer>
        <p>footer</p>
    </footer>
</body>
</html>