<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="content">

        <section class="background background--sigin">

            <div class="">

                <h1 class="main__introd1">Inicia sesión</h1>

                <input type="text" name="user" class="input__login" placeholder="Correo electronico">
                <input type="password" name="password" class="input__login" placeholder="Contraseña">

                <button type="submit" class="header__button-signin">Iniciar sesión</button>

            </div>

            <div class="">

                <h3 class="main__introd1">¿Todavía sin tu cuenta? <a href="index.html">Registrate ahora</a></h3>

            </div>

        </section>

        <footer class="footer">

        </footer>

</body>

</html>