<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="content">
            <header class="header">
                <img src="logo-cine_23-2147503279_preview_rev_1.png" alt="logo" class="logo">
                <button type="submit" class="header__button-signin">Iniciar sesión</button>
            </header>
            

            <footer class="footer">
                <h3>Llamanos al <a href="tel:973-301-6177" class="footer__phone-link">973-301-6177</a></h3>
                <ul class="footer__list">
                    <li>Preguntas frecuentas</li>
                    <li>Cuenta</li>
                    <li>Inversores</li>
                    <li>Canjear tarjeta regalo</li>
                    <li>Formas de ver</li>
                    <li>Privacidad</li>
                    <li>Información corporativa</li>
                    <li>Contáctanos</li>
                    <li>Prueba de velocidad</li>
                    <li>Centro de ayuda</li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>