*, *:before, *:after {
    box-sizing: inherit;
}

:root{--color_primario: #AA6DA3;
    --color_secundario:#CDD3CE;
    --fuente_primaria: arial;
    
}

section{
    font-family: var(--fuente_primaria);
   
}
body{
    background-color: var(--color_secundario);
}
.encabezado{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.cuerpo{
    display: grid;
    grid-template-columns:30% 70% ;
    column-gap: 1rem;
}

.barra_lateral{
    grid-column: 1 / 2;
    background-color: var(--color_primario);

}

.contenido_principal{
    background-color: var(--color_secundario);
    font-family: var(--fuente_primaria);
}