.container-patient-item{
    background-color: #EDEDED;
    margin: 20px;
    text-align: left;
 
    height: 90px;
}

ul {
    list-style: none;
    padding: 1px;
   
}

.create-patient-button{
    background-color: #145566;
    border: 0;
    cursor: pointer;
    height: 36px;
    width: 200px;
    border-radius: 15px;
    margin: 30px;
    color: white;
}
