.Response {
    font-weight: bold;
    position: absolute;
    padding: 8rem;
    
}

.Response--info {
    
    color:  rgb(100, 144, 100);
}
.Response--error {
    font-weight: bold;
    color: red;
}