/* .home {
    margin: 0;
    height: 50px;
} */

.home__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;

}

.home__link {
    text-decoration-line: none;
    font-size: 30px;
}