.login {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__input {
    height: 50px;
    width: 326px;
    left: 32px;
    top: 647px;
    border-radius: 15px;
    border: 1px solid;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 25px;
}

.login__button {
    height: 50px;
    width: 326px;
    left: 32px;
    top: 647px;
    border-radius: 15px;
    border: 2px;
    background-color: #0085FF;
    color: white;
    text-size-adjust: 32px;
    font-size: 17px;
}