.updateVehicle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updateVehicle__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updateVehicle__input {
    height: 45px;
    width: 326px;
    border-radius: 15px;
    border: 1px solid;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 25px;
}

.updateVehicle__button {
    height: 45px;
    width: 326px;
    border-radius: 15px;
    border: 2px;
    background-color: #0085FF;
    color: white;
    text-size-adjust: 32px;
    font-size: 17px;
}