.updatePart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updatePart__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updatePart__textarea {
    padding: 70px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.updatePart__button {
    height: 45px;
    width: 326px;
    border-radius: 15px;
    border: 2px;
    background-color: #0085FF;
    color: white;
    text-size-adjust: 32px;
    font-size: 17px;
    margin-top: 40px;
}

.updatePart__select {
    height: 47px;
    width: 330px;
    border-radius: 15px;
    border: 1px solid;
    margin-bottom: 25px;
}