:root {
    --color:rgb(255, 153, 0);
    --color-text: seashell;
    --color-back: rgb(33, 33, 41)
}

* {
    font-family: 'Ubuntu', sans-serif;
    background: var(--color-back);
    color: var(--color-text);
}

body, html, #root {
    height: 100%;
    margin: 0;
}

.title {
    color: var(--color);
}

.title-form {
    text-align: center;
    margin-bottom: 3rem;
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
    padding: 70px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input {
    background-color: var(--color-text);
    color: var(--color-back);
    border-radius: .3rem;
    padding: .2rem;
    margin-right: .5rem;
    border: none;
}

.input-form {
    margin-bottom: .5rem;
    padding: 1rem;
    width: 20rem;
    margin-bottom: 2rem;
}

.button {
    background-color:var(--color);
    padding: .3rem;
    width: 5rem;
    border: 2px solid var(--color-back);
    border-radius: .3rem;
    cursor: pointer;
    border: none;
}

.button-form {
    padding: 1rem;
    width: 22rem;
}

.feedback {
    color: rgb(7, 179, 7);
    font-size: 3rem;
}