.ProductDrop{
    margin: 12px auto;
    padding: 20px;
}

.ProductDrop__body{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
}
.Product__body-title{
    text-align: center;
    margin: 12px auto 12px;
}


.ProductDrop__table{
    padding: 10px;
    font-size: 18px;
    justify-self: center;
    margin: 0 auto;
}

/* TABLE IN COLUMNS */
.ProductDrop__table-header{
    display:none;
    
}

.ProductDrop__table-body td{
    display:block;
    border: 1px solid #ddd;
    padding: 12px;
}

.ProductDrop__table-body td:nth-child(1)::before{
    content: "Category"
}

.ProductDrop__table-body td:nth-child(2)::before{
    content: "Brand"
}
.ProductDrop__table-body td:nth-child(3)::before{
    content: "Model"
}
.ProductDrop__table-body td:nth-child(4)::before{
    content: "Material"
}
.ProductDrop__table-body td:nth-child(5)::before{
    content: "Purchase price"
}
.ProductDrop__table-body td:nth-child(6)::before{
    content: "Sale price"
}
.ProductDrop__table-body td:nth-child(7)::before{
    content: "Product URL"
}

.ProductDrop__table-body td{
    text-align: right;
}

.ProductDrop__table-body td::before{
    float: left;
    margin-right: 5rem;
    font-weight: bold;
}

@media (min-width: 1100px) {
    .ProductDrop__body{
        width: 100vh;
        margin: 0 auto;
        padding: 40px 20px;
        font-size: 40px;
    }
    .ProductDrop__table{
        font-size: 36px;
    }
    .ProductDrop__table-body td::before{
        margin-right: 8rem;

    }
    
  }