.UpdateSupplier-header{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top:12px;
 }
 
 .UpdateSupplier__iconBack{
    font-size: 30px;
    cursor: pointer;
    align-self: center;
}

.UpdateSupplier__title{
    text-align: center;
}

.UpdateSupplier__form{
    display: flex;
    flex-direction: column;
    padding: 0px 2rem 2rem;
    background-color: #1d3557;
    max-width: 80%;
    margin: 14px auto;
    border-radius: 30px;
}
 
.UpdateSupplier__label{
    margin-top:18px;
    border-radius: 20px;
    margin-left: 10px;
    color:white;
    font-size: 20px;
}
.UpdateSupplier__input{
    margin-top:5px;
    border-radius: 20px;
    padding: 12px;
    border:none;
    background-color: #dfe7fd;
    color:#1d3557;
    outline: none;
}

.UpdateSupplier__btn{
    text-decoration: none;
    padding:1rem 3rem;
    margin-top: 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width:fit-content;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.UpdateSupplier__btn-icon{
    margin-left: 10px;
}
.UpdateSupplier__btn:hover{
    background-color: #f9c74f;
}
.btn-hover:hover{
    color:#1d3557;
}
.UpdateSupplier__input-checkbox{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

@media (min-width: 600px) {
    .UpdateSupplier__form{
        width: 60vh;
        padding: 1rem 4rem 4rem;
        margin: 30px auto;
    }
    .UpdateSupplier__label{
        margin-top:24px;
        font-size: 28px;
    }
    .UpdateSupplier__input{
        margin-top:10px;
        border-radius: 20px;
        padding: 18px;
        font-size: 18px;
    }
    .UpdateSupplier__btn{
        font-size: 30px;
        align-self: center;
        width: 60%;
    }
    .UpdateSupplier__title{
        font-size: 50px;
    }
  }