@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
:root {
    --color: rgb(29, 63, 138);
}

html, body {
    height: 100%;
}

* {
    font-family: 'Caveat Brush', cursive;
    margin: 0
}

body {
    background-image: url("sky.png");
    background-size: cover;
}

.change-background {
    background-image: url("sky_earth.png");
}

.game-title {
    font-size: 50px;
    color: var(--color);
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-profile {
    width: 40px
}

.profile-button {
    background-color:transparent;
    border-radius: 20px;
    border-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container--vertical {
    flex-direction: column;
}

.container--hztal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.box {
    margin-top: 70px;
    border: var(--color) 2.5px solid;
    padding: 25px;
    border-radius: 15px
}

.field {
    border-radius: 6px;
    border-style: solid;
    height: 25px;
    width: 110px;
    margin-bottom: 5px;
}

.landing {
    margin-top: 70px;
}

.landing__text {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 25px;
}

.landing__text-signIn {
    margin-top: 30px;
}

.starting {
    margin-top: 70px;
}

.starting__text {
    font-size: 30px;
}

.button {
    border-radius: 6px;
    background-color: var(--color);
    font-size: 20px;
    color: white;
    border: none;
    height: 30px;
    margin-top: 3px;
}

.button__changes {
    margin-bottom: 10px;
}

.button--long {
    width: 100px;
    margin-bottom: 5px
}

.button--big {
    font-size: 30px;
    width: 80px;
    height: 40px;
    border-radius: 10px
}

.box--header{
    color: var(--color);
    font-size: 35px;
}

.off {
    display: none;
}

.signIn__feedback, .signUp__feedback, 
.change-name__feedback, .passwor__feedback {
    color: red
}

/* game */

.bird {
    width: 60px
}

.person {
    width: 100px
}