@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.Note {
    box-sizing: border-box;
    width: 18rem;
    height: 18rem;
    background-color: lightgray;
    font-family: 'Caveat Brush', cursive;
    color: black;
    padding: 0.8rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.Note__footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.8rem;
    align-items: flex-end;
    justify-content: space-between;
}

.Note--red {
    background-color: rgb(255, 89, 71);
}

.Note--green {
    background-color: rgba(136, 247, 68, 0.952);
}

.Note--blue {
    background-color: rgb(30, 214, 255);
}

.Note--yellow {
    background-color: gold;
}

.Note--pink {
    background-color: rgb(240, 116, 222);
}

.Note__delete{
    height: 2rem;
}