@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    background-color: whitesmoke;
    font-family: poppins, sans-serif;

}

a {
    text-decoration: none;
}   

