@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
    --font-notes: 'Inconsolata', monospace;
    --font-weight-bold: 700;
    --font-size-small: 1.5rem;
}

.Feed__item {
    background-color: rgb(228, 228, 228);
    font-family: var(--font-notes);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.Feed__item--red {
    background-color: rgb(255, 0, 0);
}

.Feed__item--green {
    background-color: rgb(0, 255, 0);
}

.Feed__item--blue {
    background-color: rgb(0, 0, 255);
    color: white;
}

.Feed__item--yellow {
    background-color: rgb(255, 255, 0);
}