@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, #root {
    height: 100%;
    width: 100%;
    background-color: rgb(37, 61, 61);
    font-family: Poppins;
}

body {
    margin: 0;
}

.btn{
    border-radius: 10rem;
    border: 2px solid;
    margin: 1rem;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border-radius: 3rem;
}

.container--column {
    flex-direction: column;
}
